@import '../../../../_variables.scss';

.nav-sidebar-container {
  width: $spotify-sidebar-width;
  height: 100vh;
  background: $sporify-sidebar-color;
  transition: 0.3s;
}

.nav-header-container {
  position: absolute;
  top: 0;
  left: $spotify-sidebar-width;
  display: flex;
  justify-content: space-between;
  height: $spotify-header-height;
  padding: $spotify-header-vertical-padding 2rem;
  width: calc(100% - $spotify-sidebar-width);
  gap: 1rem;
  background: $spotify-header-color;
  color: $spotify-grey-color;
  transition: 0.3s;

  .nav-header-burger-icon-container {
    display: none;
    align-items: center;

    .nav-header-burger-icon {
      color: $spotify-grey-color;
      font-size: 1.5rem;
      cursor: pointer;
    }
  }

  .nav-header-left-container {
    display: flex;
    align-items: center;
    flex-grow: 1;
    gap: 2rem;

    .nav-header-navigation-icon {
      font-size: 1.2rem;
      cursor: pointer;
    }

    .p-input-icon-left {
      max-width: 360px;
      width: 100%;

      .nav-header-input-icon {
        font-size: 1.1rem;
        color: $spotify-black-color;
        font-weight: 600;
      }

      .nav-header-input {
        width: 100%;
        height: calc(
          $spotify-header-height - (2 * $spotify-header-vertical-padding)
        );
        border-radius: 3rem;
        border: none;
        background: $spotify-white-color;
        font-size: 0.9rem;
        padding-left: 3rem;
      }
    }
  }

  .nav-header-right-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-grow: 1;
    gap: 2rem;

    .nav-header-link-container {
      display: flex;
      gap: 1rem;

      .nav-header-link {
        font-weight: 600;
        letter-spacing: 1px;
        cursor: pointer;

        &:hover {
          scale: $spotify-hover-scale;
          color: $spotify-white-color;
        }
      }
    }

    .nav-header-divider {
      border-left: 1px solid white;
      height: calc(
        $spotify-header-height - (3 * $spotify-header-vertical-padding)
      );
    }

    ::ng-deep {
      .nav-header-logout-button {
        button {
          padding: $spotify-button-and-input-vertical-padding 2rem !important;
          text-transform: none;
          background: $spotify-white-color;
          color: $spotify-black-color;
          border: none !important;

          &:hover {
            scale: $spotify-hover-scale;
          }
        }
      }
    }
  }
}

@media (max-width: 992px) {
  .nav-header-link-container,
  .nav-header-divider {
    display: none !important;
  }
}

@media (max-width: 768px) {
  .nav-header-container {
    left: 0;
    width: 100%;
    padding: $spotify-header-vertical-padding 1rem
      $spotify-header-vertical-padding 1rem;
    gap: 1.5rem;

    .nav-header-burger-icon-container {
      display: flex;
    }

    .nav-header-left-container {
      i:not(.pi-search) {
        display: none;
      }
    }
  }

  .nav-sidebar-container {    
    position: absolute;
    top: $spotify-header-height;
    bottom: 0;
    height: auto;
    width: 0;
  }

  .show {
    width: $spotify-sidebar-width;
  }
}
