<div class="nav-sidebar-container" [ngClass]="{'show' : isSidebarExpanded == true}">

</div>
<div class="nav-header-container">
    <div class="nav-header-burger-icon-container">
        <i class="nav-header-burger-icon pi pi-bars" (click)="isSidebarExpanded = !isSidebarExpanded"></i>
    </div>
    <div class="nav-header-left-container">
        <i class="nav-header-navigation-icon fa-solid fa-chevron-left"></i>
        <i class="nav-header-navigation-icon fa-solid fa-chevron-right"></i>
        <span class="p-input-icon-left ">
            <i class="nav-header-input-icon pi pi-search"></i>
            <input type="text" pInputText placeholder="Czego chcesz posłuchać?" class="nav-header-input" />
        </span>
    </div>
    <div class="nav-header-right-container">
        <div class="nav-header-link-container">
            <a class="nav-header-link">Premium</a>
            <a class="nav-header-link">Pomoc</a>
            <a class="nav-header-link">Pobierz</a>
        </div>
        <span class="nav-header-divider"></span>
        <p-button class="nav-header-logout-button" label="Wyloguj się" (click)="logOut()"></p-button>
    </div>
</div>