<div
  class="nav-sidebar-container"
  [ngClass]="{ show: isSidebarExpanded == true }">
  <div class="nav-sidebar-top-container">
    <div class="nav-sidebar-header-container">
      <i class="nav-sidebar-header-icon fa-brands fa-spotify"></i>
      <p class="nav-sidebar-header-text">Spotify</p>
    </div>
    <div class="nav-sidebar-navigation-container">
      <a
        class="nav-sidebar-navigation-row"
        [routerLink]="'home'"
        [ngStyle]="{ color: actualPage == '/home' ? 'white' : null }">
        <i class="nav-sidebar-navigation-icon fa-solid fa-house"></i>
        <p class="nav-sidebar-navigation-text">Home</p>
      </a>
      <a
        class="nav-sidebar-navigation-row"
        [routerLink]="'search'"
        [ngStyle]="{ color: actualPage == '/search' ? 'white' : null }">
        <i class="nav-sidebar-navigation-icon fa-solid fa-search"></i>
        <p class="nav-sidebar-navigation-text">Szukaj</p>
      </a>
      <a
        class="nav-sidebar-navigation-row"
        [routerLink]="'favorite'"
        [ngStyle]="{ color: actualPage == '/favorite' ? 'white' : null }">
        <i class="nav-sidebar-navigation-icon fa-solid fa-heart"></i>
        <p class="nav-sidebar-navigation-text">Ulubione</p>
      </a>
    </div>
  </div>
  <div class="nav-sidebar-bottom-container"></div>
</div>
<div class="nav-header-container">
  <div class="nav-header-burger-icon-container">
    <i
      class="nav-header-burger-icon pi pi-bars"
      (click)="isSidebarExpanded = !isSidebarExpanded"></i>
  </div>
  <div class="nav-header-left-container">
    <i class="nav-header-navigation-icon fa-solid fa-chevron-left"></i>
    <i class="nav-header-navigation-icon fa-solid fa-chevron-right"></i>
    <span class="p-input-icon-left">
      <i class="nav-header-input-icon pi pi-search"></i>
      <input
        type="text"
        pInputText
        placeholder="Czego chcesz posłuchać?"
        class="nav-header-input" />
    </span>
  </div>
  <div class="nav-header-right-container">
    <div class="nav-header-link-container">
      <a class="nav-header-link">Premium</a>
      <a class="nav-header-link">Pomoc</a>
      <a class="nav-header-link">Pobierz</a>
    </div>
    <span class="nav-header-divider"></span>
    <p-button
      class="nav-header-logout-button"
      label="Wyloguj się"
      (onClick)="logOut()"></p-button>
  </div>
</div>
