hr {
  border-color: white;
}

.btn {
  border-radius: 50% !important;
}

.login-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;

  .login-header {
     display: flex;
     justify-content: center;
     align-items: center;
     height: 5rem;

     .login-header-icon {
       font-size: 2.8rem;
       margin-right: 0.3rem;
     }

     .login-header-text {
       font-weight: 500;
       font-size: 1.6rem;
     }
  }

   .login-content {
     max-width: 500px;
     width: 100%;
     height: calc(100vh - 5rem);
     margin: 0 auto;

     .login-options {
      display: flex;
      flex-direction: column;
     }
 }
}
