<div class="login-container">
    <div class="login-header">
        <i class="login-header-icon fa-brands fa-spotify"></i>
        <p class="login-header-text">Spotify</p>
    </div>
    <hr>
    <div class="login-content">
        <div class="login-options">
            <p class="login-options-text"></p>
            <button class="login-button-facebook"></button>
            <button class="login-button-apple"></button>
            <button class="login-button-google"></button>
        </div>
        <hr>
        <div class="login-field-container">
            <p class="login-field-label"></p>
            <div class="login-input-container">
                <input type="text" class="login-input">
                <p class="error-message"></p>
            </div>
        </div>
        <div class="login-field-container">
            <p class="login-field-label"></p>
            <div class="login-input-container">
                <input type="text" class="login-input">
                <p class="error-message"></p>
            </div>
        </div>
        <p class="login-forgot-password"></p>
        <div class="login-remember-me-conteiner">
            <div class="login-remember-me"></div>
            <button class="login-button"></button>
        </div>
        <hr>
        <div class="login-footer">
            <p class="login-question"></p>
            <button class="login-register-button"></button>
        </div>
    </div>
</div>