@import "../../variables";

hr {
  margin: 12px 0 30px;
  border-color: $spotify-white-color;
}

//buttons and checkbox start
::ng-deep {

  .login-button-facebook {
    button {
      background: $spotify-facebook-color !important;
    }
  }

  .login-button-apple {
    button {
      background: $spotify-black-color !important;
    }
  }

  .login-button-google {
    button {
      background: $spotify-white-color !important;
      color: $spotify-grey-color !important;
    }
  }

  .login-button {
    padding: 1rem 2rem !important;
    color: $spotify-black-color !important;
    background: $spotify-green-color !important;
    border: none !important;

    &:hover {
      scale: $spotify-hover-scale;
      background: $spotify-brighter-green-color !important;
    }
  }

  .login-register-button {
    button {
      background: $spotify-white-color !important;
      color: $spotify-grey-color !important;
    }
  }

  p-checkbox {
    height: 16px;
    width: 16px;
    margin-right: 0.75rem;

    .p-checkbox .p-checkbox-box.p-highlight {
      background: $spotify-green-color !important;
      border-color: $spotify-green-color !important;
    }

    div {
      .p-checkbox-box {
        border: 1px solid $spotify-grey-color !important;
        border-radius: 0.15rem !important;
        width: 16px !important;
        height: 16px !important;
      }

      .p-checkbox-icon {
        font-size: 10px !important;
      }
    }
  }
}

//buttons and checkbox end

//login start

.login-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  background: $spotify-white-color;

  .login-header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;

    .login-header-icon {
      font-size: 2.8rem;
      margin-right: 0.3rem;
    }

    .login-header-text {
      font-weight: 500;
      font-size: 1.7rem;
    }
  }

  .login-content {
    max-width: 450px;
    width: 100%;
    margin: 1rem auto 0;
    padding: 1rem;

    .login-options {
      display: flex;
      flex-direction: column;

      p,
      p-button {
        margin-bottom: 0.75rem;
      }

      .login-options-text {
        font-weight: 600;
        font-size: 0.85rem;
        text-align: center;
      }
    }

    .login-field-container {
      margin-bottom: 1rem;

      .login-field-label {
        font-size: 0.85rem;
        font-weight: 600;
        margin-bottom: 0.5rem;
      }
    }

    .login-input-container {
      display: flex;
      flex-direction: column;

      .login-input {
        font-size: 0.9rem;
        padding: 0.9rem;
        border: 1px solid $spotify-grey-color;
        border-radius: 0.15rem;
        font-weight: 600;

        &:focus {
          outline: $spotify-black-color solid 2px;
        }
      }
    }

    .login-forgot-password {
      color: $spotify-black-color;
      font-size: 1rem;
      text-decoration: underline;
      margin-bottom: 1.5rem;
    }

    .login-bottom-container {
      display: flex;
      justify-content: space-between;
      margin-bottom: 1rem;

      @media (max-width: 768px) {
        flex-direction: column;
        gap: 1.5rem;
      }

      .login-remember-me-text {
        font-size: 0.9rem;
      }
    }

    .login-footer {
      .login-footer-question {
        text-align: center;
        font-size: 1.1rem;
        font-weight: 500;
        margin-bottom: 1.5rem;
      }
    }
  }
}

//login end
