// colors
$spotify-body-color: #222;

$spotify-header-color: rgba(0,0,0,.5);
$sporify-sidebar-color: black;

$spotify-green-color: rgb(30, 215, 96);
$spotify-brighter-green-color: rgb(30, 225, 96);
$spotify-facebook-color: rgb(24, 119, 242);
$spotify-black-color: #000;
$spotify-grey-color: #888;
$spotify-white-color: #fff;

//sizes
$spotify-sidebar-width: 15rem;
$spotify-header-height: 4rem;
$spotify-header-vertical-padding: 0.75rem;
$spotify-button-and-input-vertical-padding: 0.9rem;


//hover 
$spotify-hover-scale: 1.05;

