*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  :not(i, i::before, i::after) {
    font-family: 'Rubik', sans-serif;
  }
}

body {
  font-size: 1rem;
  font-family: 'Rubik', sans-serif;
  min-height: 100vh;
}
